body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 16px;
  margin: 0;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f28989;
  color: white;
  padding: 10px 20px;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
}

main {
  position: relative;
}

h2 {
  display: inline-block;
  margin: 0;
}

nav {
  display: inline-block;
}

/* 1. način - selektor za elemente */
/* header nav a {
  color: blue;
} */

/* 2. način - CSS klasa */
.link {
  color: white;
  transition: color 0.3s ease; /* CSS3 svojstvo */
}
/* :hover - pseudo-klasa */
.link:hover {
  color: gray;
  text-decoration: none;
}

/* ::after - pseudo-element */
h1::after {
  content: ""; /* Obavezno svojstvo kod "::after" i "::before" */
  display: block;
  height: 2px;
  width: 100px;
  margin: 4px auto 0;
  background-color: #f28989;
}

.flower-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
  flex-wrap: wrap;
  background-color: #cccccc;
  padding: 50px 0;
}

/* BEM */
/* .flower - Block: HTML element koji predstavlja jednu samostalnu cjelinu */
.flower {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  width: 200px;
  min-width: 200px;
  background-color: #ffffff; /* isto kao: white */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}
/* .flower__price - Element: Usko vezan za Block, tj. .flower */
.flower__price {
  background-color: pink;
  position: absolute;
  top: 0;
  right: 0;
}

.text-center {
  text-align: center;
}

.selected {
  background-color: lightblue;
}

/* Media queries (query) */
/* Breakpoints:
  - Mobile: 768px (max)
  - Tablets: 992px (max)
  - Desktop: 1200px (max)
  */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
  }
  h2 {
    margin-bottom: 8px;
  }
  /* .flower {
    margin-bottom: 20px;
  }
  .flower:last-child {
    margin-bottom: 0;
  } */
  .flower:not(:last-child) {
    margin-bottom: 20px;
  }
}

/* Samo za veće ekrane */
@media screen and (min-width: 768px) {
  .flower:hover {
    transform: translate(0, -8px);
  }
}

/* Shop menu */
#shop-menu {
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  height: 100%;
  border: 1px solid black;
  width: 200px;
}

#shop-menu.closed {
  display: none;
}
