body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
  font-size: 16px;
  margin: 0;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f28989;
  color: white;
  padding: 10px 20px;
}

h2 {
  display: inline-block;
  margin: 0;
}

nav {
  display: inline-block;
}

/* 1. način - selektor za elemente */
header nav a {
  color: blue;
}

/* 2. način - CSS klasa */
.link {
  color: white;
}

.flower-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
}

.flower-list__item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid green;
  border-radius: 10px;
}

.text-center {
  text-align: center;
}
